@model IEnumerable<TiendaFunko.Models.Funko>

<main class="container">
    <form asp-action="SearchList" method="post">
        <div class="buscador">
            <iconify-icon class="search-icon" icon="material-symbols:search"></iconify-icon>
            <input name="searchString" type="text" placeholder="codigo, nombre o categoria">
        </div>
    </form>
    <div class="title-container ">
        <h1 class="title-container-h1">
            LISTADO DE PRODUCTOS</h1>
            <div class="add-container">
                <h2 class="add-text">AGREGAR</h2>
                <a asp-action="Create">
                    <button class="add-listado_button">
                        <iconify-icon class="add-icon" icon="mingcute:add-fill"></iconify-icon>
                    </button>
                </a>
            </div>
    </div>
    <table class="tabla-listado">
        <tr class="tabla-listado_tr">
            <th>ID</th>
            <th>Codigo</th>
            <th>Nombre del Producto</th>
            <th>Categoria</th>
            <th></th>
        </tr>
        @foreach (var item in Model){
        <tr class="tabla-listado_tr">
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.SKU)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ClasificacionNavigation.Descripcion)</td>
            <td>
                <div class="delete-list">
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <iconify-icon class="edit-icon" icon="ic:baseline-edit"></iconify-icon>
                    </a>
                    <form asp-action="Delete" method="post" asp-route-id="@item.Id">
                            <button type="submit" class="delete-button">
                            <iconify-icon class="delete-icon" icon="material-symbols:delete"></iconify-icon>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        }
    </table>
</main>